body {

    display: flex;
    height: 650px;
    background-color: #18bc9c;
    justify-content: center;
    align-items: center;
    color: white;
}

.result {
    display: flex;
}

.main input {
    outline: none;
}